<div *ngIf="profile" class="main">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="float-child child1">
                <img class="photo" src="{{ profile.avatar_url }} " alt="image " />
                <div>
                    <span class="sk">{{ profile.url }}</span>
                </div>
            </div>
            <div class="float-child child2">
                <h6>{{ profile.name }}</h6>
                <span>{{ profile.bio }}</span><br />
                <span><i class="fa fa-map-marker"></i> {{ profile.location }} </span><br />
                <span *ngIf="profile.blog">Blog : {{ profile.blog }}</span>
            </div>
        </div>

        <app-repo class="repo" [repos]="repos" [page]="page" [totalRec]="totalRec"></app-repo>
        <div class="page">
            <pagination-controls previousLabel="Older" nextLabel="Newer" id="listing_pagination" (pageChange)="page=$event">
            </pagination-controls>
        </div>

    </div>
</div>